<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .satu p {
            background-color: brown;
            width: 200px;
            height: 110px;
            margin: 50px auto;
            padding-right: 50px;
            padding-left: 50px;
            padding-top: 50px;
            padding-bottom: 50px;
            
        }
        .dua p{
            background-color: yellowgreen;
            width: 300px;
            margin: 50px auto;
        }
    </style>
</head>
<body>
    <div class="satu">
        <p>Lorem ipsum dolor sit amet consectetur   adipisicing elit. Pariatur exercitationem     mollitia nam eligendi odit aliquid esse     itaque a ratione porro doloribus commodi    repellat voluptate illo aliquam quae illum,    at iste?</p>
    </div>
    <div class="dua">
        <p>Lorem ipsum dolor sit amet consectetur   adipisicing elit. Pariatur exercitationem     mollitia nam eligendi odit aliquid esse     itaque a ratione porro doloribus commodi    repellat voluptate illo aliquam quae illum,    at iste?</p>
    </div>
</body>
</html>