<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style3.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="logo-judul">
          <section class="logo"></section>
          <section class="judul">
            <h3>Inasaba</h3>
          </section>
        </div>
        <section class="navigasi">
          <nav>
            <a href="#">Home</a>
            <a href="#">Service</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
          </nav>
        </section>
      </header>
      <main>
        <section class="tombol">
          <div class="tambah-data">
            <input type="submit" name="" id="" value="Tambah Data" />
          </div>
          <div class="kembali">
            <input type="submit" value="kembali" />
          </div>
        </section>
        <section class="tabel">
          <table>
            <tr>
              <td>No</td>
              <td>Nama</td>
              <td>Alamat</td>
              <td>Status</td>
              <td>Aksi</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <input
                  type="submit"
                  name=""
                  id=""
                  value="Edit"
                  class="tombol-edit"
                />
                <input type="submit" value="Hapus" class="tombol-hapus" />
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <input
                  type="submit"
                  name=""
                  id=""
                  value="Edit"
                  class="tombol-edit"
                />
                <input type="submit" value="Hapus" class="tombol-hapus" />
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <input
                  type="submit"
                  name=""
                  id=""
                  value="Edit"
                  class="tombol-edit"
                />
                <input type="submit" value="Hapus" class="tombol-hapus" />
              </td>
            </tr>
          </table>
        </section>
      </main>
    </div>
    <footer>
      <p>&copy; Ivan Yugava Januari 2025</p>
    </footer>
  </body>
</html>
