<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latihan Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
    <header>
        <div class="judul">
            <h1>My Website</h1>
        </div>
        <nav>
            <div class="navigasi">
                <a href="#">Home</a>
                <a href="#">Product</a>
                <a href="#">About</a>
                <a href="#">Blog</a>
                <a href="#">Contact</a>
            </div>
        </nav>
    </header>
    <main>
        <section class="logo">
            <img src="banner.jpg" alt="" width="800px">
        </section>
        <section>
            <div class="judul-artikel">
                <p class="judul"><b>MOBILE LEGEND</b></p>
                <p class="pencipta">Ditulis oleh <a href="https://www.instagram.com/">Ivan Yugava</a> pada tanggal 10 Januari 2025</p>
            </div>
            <div class="isian">
                <p>Mobile Legends pertama kali rilis di Indonesia pada tahun 2016. Game populer yang dikembangkan oleh Moonton ini termasuk ke dalam jenis game MOBA (Multi Player Battle Arena). Pada jenis game ini pemain akan terbagi ke dalam dua tim dengan masing-masing tim berisikan lima pemain. Kelima pemain tersebut akan memilih hero dengan berbagai role, seperti Assassin, Mage, Tank, Fighter, dan Marksman.</p>

                <p>Mobile Legends menjadi salah satu game eSports yang paling populer dipertarungkan. Di Asia Tenggara sendiri diadakan berbagai turnamen besar yang melibatkan tim eSport profesional. Beberapa turnamen besar yang rutin diadakan setiap tahunnya adalah Mobile Legends Professional League (MPL), Mobile Legends: Bang Bang Southeast Asia Cup (MSC), M World Champion Series (M-Series), sampai masuk ke dalam cabang SEA Games dan Asian Games. Indonesia sendiri memiliki beberapa tim eSport profesional terkemuka seperti Onic Esports, RRQ (Rex Regum Qeon), dan Evos Legends.
                Game MOBA ini seperti memiliki 1001 event dengan berbagai jenis skin. Rentang harga yang ditawarkan pun berbeda tergantung kategori skin. Mobile legends juga telah melakukan beberapa kolaborasi dengan anime populer, seperti Saint Seiya, Jujutsu Kaisen, Attack on Titan, Beyond the Clouds, dan event kolaborasi yang sedang berlangsung pada Januari 2025 ini adalah Hunter X Hunter. Banyak dari pemain Mobile Legends yang juga merupakan penikmat anime, turut mengikuti event kolaborasi ini untuk mendapatkan skin husbu atau waifunya-- meskipun mereka tidak menguasai hero yang diberikan skin anime tersebut.</p>

                <p>Saat ini banyak sekali video-video pendek yang diunggah ke platform online seperti TikTok, Instagram, atau bahkan YouTube yang berkaitan dengan Mobile Legends. Video-video tersebut memuat tentang pembahasan item Mobile legends, emblem, battle spell, role pada berbagai hero, maupun cara untuk menggunakan dan menguasai hero-hero yang baru rilis. Selain itu berbagai konten menarik juga turut disajikan. Konten-konten tersebut seringkali dijadikan sebagai ajang memamerkan skin dan afinitas. Saat ini semakin bertambah banyak streamer yang memainkan Mobile Legends. Penonton stream dapat bermain bersama streamer apabila penonton membayar sejumlah uang yang telah ditentukan harga sebelumnya.</p>
            </div>
        </section>
    </main>
    <footer>
        copyright &copy;<a href="https://www.instagram.com/">Ivan Yugava</a> Januari 2025
    </footer>
</div>
</body>
</html>