<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/Layout/border/style.css">
</head>
<body>
    <div class="nol">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur illum iusto explicabo deserunt tempora quisquam assumenda voluptates suscipit voluptas impedit!</p>
    </div>
    <div class="satu">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum architecto dolorem blanditiis a asperiores dolor facilis officia aut eaque placeat nulla impedit assumenda commodi, distinctio nihil minima laborum quis quam?</p>
    </div>
    <div class="dua">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores accusamus ipsum cupiditate doloremque perferendis omnis sunt libero voluptas aspernatur. Commodi distinctio repellendus nostrum molestias esse. Id corrupti ducimus velit, sit aspernatur dolorum totam et exercitationem corporis, consequatur officiis, perspiciatis perferendis?</p>
    </div>
</body>
</html>